section.certificates.block.bg.bg-a
	.container
		h2.title.certificates__title Эффективность подтверждена сертификатами:
		ul.certificates__list
			li.certificates__item
				picture
					source(srcset="img/sert.webp", type="image/webp")
					img(src="img/sert.png", alt="image")
			li.certificates__item.certificates__item--center
				picture
					source(srcset="img/sert2.webp", type="image/webp")
					img(src="img/sert2.png", alt="image")
			li.certificates__item
				picture
					source(srcset="img/sert3.webp", type="image/webp")
					img(src="img/sert3.png", alt="image")