section.composition.block#composition
	.container
		h2.title.composition__title 
			span.accent Тонерин
			|  для омоложения сосудов
		.composition__info
			.composition-info__box
				h3.composition-info__subtitle Уникальное средство на основе 
					span.accent.text-bold Коэнзима Q10
				p.composition-info__text <b>Тонерин создан на новейшем оборудовании с привлечением ведущих экспертов и кардиологов.</b>
				p.composition-info__text Это средство нового поколения, которое не просто очищает сосуды, а&nbsp;омолаживает их, возвращая им естественную эластичность и крепкую структуру.
				p.composition-info__text <b>Секрет эффективности Тонерин кроется в его составе:</b>
			.composition__pack
				picture
					source(srcset="img/prod.webp", type="image/webp")
					img(src="img/prod.png", alt="prod", class="product-image")
				.medal.animation-medal
					img(src="img/quality3.png", alt="")
		.composition__about
			.composition-about__img
				picture
					source(srcset="img/composition-about.webp", type="image/webp")
					img(src="img/composition-about.jpg", alt="prod", class="product-image")
			.composition-about__box
				h3.composition-about__name Коэнзим Q10
				p.composition-about__text Мощный антиоксидант, который возвращает и <b>продлевает молодость всех систем организма,</b> особенно сердечно-сосудистой системы. Он <b>препятствует отложению холестерина</b> в сосудах, <b>способствует улучшению кровоснабжения</b> миокарда, <b>нормализует давление, предупреждает развитие атеросклероза.</b>
		h4.composition__attention Также в средстве присутствуют и другие целительные экстракты и вещества:
		ul.composition__list
			li.composition-list__item
				.composition-list__img
					picture
						source(srcset="img/composition-1.webp", type="image/webp")
						img(src="img/composition-1.jpg", alt="prod", class="product-image")
				h5.composition-list__name Экстракт терминалии арджуна 
					span.composition-list__name--small (укрепляет сердечную мышцу)
			li.composition-list__item
				.composition-list__img
					picture
						source(srcset="img/composition-2.webp", type="image/webp")
						img(src="img/composition-2.jpg", alt="prod", class="product-image")
				h5.composition-list__name Экстракт виноградных косточек 
					span.composition-list__name--small (предупреждает поражение миокарда)
			li.composition-list__item
				.composition-list__img
					picture
						source(srcset="img/composition-3.webp", type="image/webp")
						img(src="img/composition-3.jpg", alt="prod", class="product-image")
				h5.composition-list__name Таурин 
					span.composition-list__name--small (снимает стресс, снижает уровень холестерина, нормализует работу сердца)

