section.control.block.bg.bg-a
	.container.control__first
		.control__info
			h2.title.control__title Омоложение сосудов — путь к&nbsp;отличному самочувствию 
			p.control__text Новый метод борьбы с гипертонией потребовал создание совершенно уникального средства, отвечающего современным требованиям оздоровления сердечно-сосудистой системы. Им стал 
				span.accent Тонерин
				| . 
			p.control__text Капсулы, которые укрепляют сосуды, уменьшают <b>количество плохого холестерина, нормализуют давление и&nbsp;омолаживают сердечно сосудистую систему.</b>
		.control__box
			.control-box__logo Тонерин
	.container.control__form
		include action


