section.fake.block
	.container
		h2.title.fake__title Внимание! 
			span.fake__title--accent Остерегайтесь подделок!
		.fake__content
			.fake__info
				p.fake__text С ростом популярности Тонерина на рынке СНГ, участились случаи подделок. Наш же продукт продается в оригинальной упаковке с уникальным регистрационным кодом! Найдите код на упаковке и проверьте подлинность Тонерина.
				p.fake__accent Отправьте DAT-код по СМС на номер 3888, в ответ получите информацию о подлинности товара.
				.fake__pack.fake__pack--top
					picture
						source(srcset="img/prod.webp", type="image/webp")
						img(src="img/prod.png", alt="prod", class="product-image")
				p.fake__bot Проверьте, что услуга отправки смс на короткий номер не отключена. Бесплатные СМС на номер 3888 подключены в РФ, Армении и Беларуси.
					span.fake__bot--small 
						span.fake__bot--accent Только первая проверка 
						| подтверждает подлинность. Только для товаров, защищенных Системой DAT.
			.fake__pack.fake__pack--bottom
				picture
					source(srcset="img/prod.webp", type="image/webp")
					img(src="img/prod.png", alt="prod", class="product-image")


	
