section.illness.block.bg.bg-b
	.container
		h2.title.illness__title Осложнения гипертонии убивают!
		.illness__content
			.illness__box.active
				h3.illness-box__title 
					<svg class="icon illness-box__title--icon illness-box__title--icon1">
						<use xlink:href="#illness-icon1"></use>
					</svg> 
					| Инфаркт миокарда
				.illness__item 
					.illness-item__img
						picture
							source(srcset="img/illness-img1.webp", type="image/webp")
							img(src="img/illness-img1.jpg", alt="image")
					.illness-item__sub
						.illness-item__title 
							<svg class="icon illness-item__title--icon">
								<use xlink:href="#illness-icon1"></use>
							</svg> 
							| Инфаркт миокарда
						p.illness-item__info Некроз части сердечной мышцы из-за нарушения кровотока,  который может привести к смерти
					h4.illness__attention Осложнения гипертонии уносят миллионы жизней  в год, не запускайте гипертонию!
			.illness__box
				h3.illness-box__title 
					<svg class="icon illness-box__title--icon illness-box__title--icon2">
						<use xlink:href="#illness-icon2"></use>
					</svg> 
					| Инсульт
				.illness__item 
					.illness-item__img
						picture
							source(srcset="img/illness-img2.webp", type="image/webp")
							img(src="img/illness-img2.jpg", alt="image")
					.illness-item__sub
						.illness-item__title 
							<svg class="icon illness-item__title--icon">
								<use xlink:href="#illness-icon2"></use>
							</svg> 
							| Инсульт
						p.illness-item__info Кровоизлияние в мозг, которое может привести к смерти и инвалидности
					h4.illness__attention Осложнения гипертонии уносят миллионы жизней  в год, не запускайте гипертонию!
			.illness__box
				h3.illness-box__title 
					<svg class="icon illness-box__title--icon illness-box__title--icon3">
						<use xlink:href="#illness-icon3"></use>
					</svg> 
					| Почечная недостаточность
				.illness__item 
					.illness-item__img
						picture
							source(srcset="img/illness-img3.webp", type="image/webp")
							img(src="img/illness-img3.jpg", alt="image")
					.illness-item__sub
						.illness-item__title 
							<svg class="icon illness-item__title--icon ">
								<use xlink:href="#illness-icon3"></use>
							</svg> 
							| Почечная недостаточность
						p.illness-item__info Нарушение функций почек, отеки мочевыводящих путей, появление опухолей
					h4.illness__attention Осложнения гипертонии уносят миллионы жизней  в год, не запускайте гипертонию!
			.illness__box
				h3.illness-box__title 
					<svg class="icon illness-box__title--icon illness-box__title--icon4">
						<use xlink:href="#illness-icon4"></use>
					</svg> 
					| Слепота
				.illness__item 
					.illness-item__img
						picture
							source(srcset="img/illness-img4.webp", type="image/webp")
							img(src="img/illness-img4.jpg", alt="image")
					.illness-item__sub
						.illness-item__title 
							<svg class="icon illness-item__title--icon ">
								<use xlink:href="#illness-icon4"></use>
							</svg> 
							| Слепота
						p.illness-item__info Повреждение глазных сосудов приводит к ухудшению зрения, частичной и полной слепоте

					h4.illness__attention Осложнения гипертонии уносят миллионы жизней  в год, не запускайте гипертонию!
			.illness__box
				h3.illness-box__title 
					<svg class="icon illness-box__title--icon illness-box__title--icon5">
						<use xlink:href="#illness-icon5"></use>
					</svg> 
					| Аритмия
				.illness__item 
					.illness-item__img
						picture
							source(srcset="img/illness-img5.webp", type="image/webp")
							img(src="img/illness-img5.jpg", alt="image")
					.illness-item__sub
						.illness-item__title 
							<svg class="icon illness-item__title--icon ">
								<use xlink:href="#illness-icon5"></use>
							</svg> 
							| Аритмия
						p.illness-item__info Нарушение частоты сердечных ритмов
					h4.illness__attention Осложнения гипертонии уносят миллионы жизней  в год, не запускайте гипертонию!
			.illness__box
				h3.illness-box__title 
					<svg class="icon illness-box__title--icon illness-box__title--icon6">
						<use xlink:href="#illness-icon6"></use>
					</svg> 
					| Сердечная недостаточность
				.illness__item 
					.illness-item__img
						picture
							source(srcset="img/illness-img6.webp", type="image/webp")
							img(src="img/illness-img6.jpg", alt="image")
					.illness-item__sub
						.illness-item__title 
							<svg class="icon illness-item__title--icon">
								<use xlink:href="#illness-icon6"></use>
							</svg> 
							| Сердечная недостаточность
						p.illness-item__info Дисфункция желудочков сердца, которая приводит к быстрой утомляемости, одышке, отекам
					h4.illness__attention Осложнения гипертонии уносят миллионы жизней  в год, не запускайте гипертонию!
		//- .illness__prod
		//- 	h3.illness-prod__title.title Вас мучает гипертония? 
		//- 		span.illness-prod__title--small Вам может стать хуже в&nbsp;ближайшее время
		//- 	.illness-prod__item
		//- 		picture
		//- 			source(srcset="img/prod.webp", type="image/webp")
		//- 			img(src="img/prod.png", alt="image")
		//- 	button.btn.illness__btn.ever-popup-btn Оформить заказ

