section.innovation.block
  .container
    h2.title.innovation__title Омоложение сосудов – единственный действенный метод избавления от гипертонии и предупреждения ее осложнений
    .innovation__content
      .innovation__image
        .image-wrap
          picture
            source(srcset="img/innovation.webp", type="image/webp")
            img.innovation__doctor(src="img/innovation.jpg", alt="")
        .innovation__centr
          img.innovation__centr--logo(src="img/heart.png", alt="heart")
          p.innovation__centr--name Национальный медицинский исследовательский центр кардиологии
      .innovation__info
        p.content-text Масштабное исследование, проведенное в начале 2020 года показало, что <b>очистка сосудов является недостаточной мерой избавления и&nbsp;предупреждения гипертонии.</b>
        p.content-text <b>Очищение сосудов имеет лишь кратковременный эффект.</b>  Сосуды даже после чистки остаются хрупкими и неэластичными. В&nbsp;поврежденных участках сосудов холестерин начинает накапливаться еще быстрее. Кровоток снова ухудшается, как и&nbsp;общее состояние человека.
        p.content-text Только <b>тотальное омоложение сосудов, которое включает в&nbsp;себя возвращение им&nbsp;эластичности, восстановление и&nbsp;укрепление их&nbsp;стенок, способно вернуть человеку здоровье,</b>  защитить от&nbsp;губительных осложнений повышенного давления.

