section.order.block#order
	.container
		h2.title.order__title Как заказать 
			span.accent Тонерин
		ul.order__list
			li.order__item
				.order-item__icon
					img(src="img/order-1.png", alt="")
					<svg class="order-item__icon-circle" viewBox="0 0 133 133" xmlns="http://www.w3.org/2000/svg"><circle cx="66.5" cy="66.5" r="64"></circle></svg>

				h3.order-item__title Заполните форму<br> заказа
				p.order-item__text Укажите имя и&nbsp;номер<br> телефона
			li.order__item
				.order-item__icon
					img(src="img/order-2.png", alt="")
					<svg class="order-item__icon-circle order-item__icon-circle2" viewBox="0 0 133 133" xmlns="http://www.w3.org/2000/svg"><circle cx="66.5" cy="66.5" r="64"></circle></svg>
				h3.order-item__title Примите звонок<br> оператора 
				p.order-item__text Специалист проконсультирует и&nbsp;уточнит адресные данные
			li.order__item
				.order-item__icon
					img(src="img/order-3.png", alt="")
					<svg class="order-item__icon-circle order-item__icon-circle3" viewBox="0 0 133 133" xmlns="http://www.w3.org/2000/svg"><circle cx="66.5" cy="66.5" r="64"></circle></svg>
				h3.order-item__title Оплатите после<br> получения
				p.order-item__text Предоплата<br> не&nbsp;требуется
			li.order__item
				.order-item__icon
					img(src="img/order-4.png", alt="")
					<svg class="order-item__icon-circle order-item__icon-circle4" viewBox="0 0 133 133" xmlns="http://www.w3.org/2000/svg"><circle cx="66.5" cy="66.5" r="64"></circle></svg>
				h3.order-item__title Насладитесь<br> эффектом 
				p.order-item__text Верните давление<br> в норму
					