section.peel.block.bg.bg-b
	.container
		h2.title.peel__title Как работает 
			span.accent Тонерин
		.peel__content
			.peel__box
				.peel-box__img
					picture
						source(srcset="img/		.webp", type="image/webp")
						img(src="img/peel-img1.jpg", alt="image")
				.peel-box__icon 1
				p.peel-box__text Благодаря масляной фазе средство быстро всасывается и&nbsp;попадает в кровоток
			.peel__box
				.peel-box__img
					picture
						source(srcset="img/peel-img2.webp", type="image/webp")
						img(src="img/peel-img2.jpg", alt="image")
				.peel-box__icon 2
				p.peel-box__text Обеспечивает снижение уровня липидов в&nbsp;крови, благодаря чему артериальное давление приходит в&nbsp;норму
			.peel__box
				.peel-box__img
					picture
						source(srcset="img/peel-img3.webp", type="image/webp")
						img(src="img/peel-img3.jpg", alt="image")
				.peel-box__icon 3
				p.peel-box__text Снижает уровень <br> и&nbsp;препятствует отложению холестерина в&nbsp;сосудах, <br> укрепляя их&nbsp;структуру
		.illness__prod
			h3.illness-prod__title.title Вас мучает гипертония? 
				span.illness-prod__title--small Вам может стать хуже в&nbsp;ближайшее время
			.illness-prod__item
				picture
					source(srcset="img/prod.webp", type="image/webp")
					img(src="img/prod.png", alt="image")
			button.btn.illness__btn.ever-popup-btn Оформить заказ

