<section class="reviews block" id="reviews">
  <div class="container">
    <h2 class="title">Отзывы людей, которым уже помог <span class="accent">Тонерин</span>

		</h2>
    <ul class="reviews-content">
      <li class="reviews-box">
        <div class="reviews-box__img">
          <img src="img/ava-1.png" alt="avatar" />
        </div>
        <h4 class="reviews-box__name">Мария Кочеткова, 57 лет</h4>
        <p class="reviews-box__city">г. Архангельск</p>
        <div class="reviews-text-body">
          <p class="reviews-text__annotation">
            “Давно не чувствовала себя
так хорошо”
          </p>
          <p class="reviews-text__item">
            Купила Тонерин из-за коэнзима q10, так как читала про него очень много хорошего во многих журналах. Он себя, как и средство в целом, оправдал полностью, я прошла курс и давление больше не беспокоит меня. Уже давно не чувствовала себя так хорошо в свои 57 лет.
          </p>
          <div class="shadow"></div>
        </div>
        <div class="reviews-text__btn"></div>
      </li>
      <li class="reviews-box">
        <div class="reviews-box__img">
          <img src="img/ava-2.png" alt="avatar" />
        </div>
        <h4 class="reviews-box__name">Антонина Ульянова, 49 лет</h4>
        <p class="reviews-box__city">г. {{location.name}}</p>
        <div class="reviews-text-body">
          <p class="reviews-text__annotation">
            “Больше не боюсь стресса”
          </p>
          <p class="reviews-text__item">
            Пропила и давление нормальное, даже если сильно перенервничаю. А раньше стоило перенервничать, как давление сразу же повышалось. Сейчас все отлично. Я очень довольна, ведь давление в норме.
					</p>
          <div class="shadow"></div>
        </div>
        <div class="reviews-text__btn"></div>
      </li>
      <li class="reviews-box">
        <div class="reviews-box__img">
          <img src="img/ava-3.png" alt="avatar" />
        </div>
        <h4 class="reviews-box__name">Борис Филатов, 52 года</h4>
        <p class="reviews-box__city">г. Москва</p>
        <div class="reviews-text-body">
          <p class="reviews-text__annotation">
            “Скачков давления больше нет”
          </p>
          <p class="reviews-text__item">
            В моем возрасте давление очень опасная штука, но средства часто не помогают и долго нужно искать, так сказать “свое” средство. Тонерин оказался “моим” средством. Я начал его пить и спустя пару дней заметил, что высыпаюсь, лучше соображаю. Давление у меня тоже нормализовалось. Советую Тонерин всем гипертоникам.
					</p>
		
          <div class="shadow"></div>
        </div>
        <div class="reviews-text__btn"></div>
      </li>
      <li class="reviews-box">
        <div class="reviews-box__img">
          <img src="img/ava-4.png" alt="avatar" />
        </div>
        <h4 class="reviews-box__name">Виктория Туполева, 47 лет</h4>
        <p class="reviews-box__city">г. Самара				</p>
        <div class="reviews-text-body">
          <p class="reviews-text__annotation">
            “Голова на погоду не болит”
          </p>
          <p class="reviews-text__item">
            У меня раньше, когда погода менялась, раскалывалась голова, Тонерин посоветовала подруга. Здесь отмечу быструю доставку, ведь получила через три дня. Само средство помогло очень хорошо. Сейчас уже два месяца прошло, погода менялась часто, а голова не болела совсем. Поэтому и решила отзыв оставить, средство хорошее и помогает просто замечательно.
					</p>

          <div class="shadow"></div>
        </div>
        <div class="reviews-text__btn"></div>
      </li>
      <li class="reviews-box">
				<div class="reviews-box__img">
          <img src="img/ava-5.png" alt="avatar" />
        </div>
        <h4 class="reviews-box__name">Татьяна Фролова, 58 лет</h4>
        <p class="reviews-box__city">г. Орел</p>
        <div class="reviews-text-body">
          <p class="reviews-text__annotation">
            “Теперь у меня стабильное давление”
          </p>
          <p class="reviews-text__item">
            Даже не ожидала, но от скачков давления помогает отлично. 120 на 80 мои любимые цифры теперь. Мне нравится. Я раньше давление через день меряла, а теперь раза 2 в месяц – оно всегда стабильное и не повышается.
          </p>
          <div class="shadow"></div>
        </div>
        <div class="reviews-text__btn"></div>
      </li>
      <li class="reviews-box">
        <div class="reviews-box__img">
          <img src="img/ava-6.png" alt="avatar" />
        </div>
        <h4 class="reviews-box__name">Катерина Смирнова, 51 год</h4>
        <p class="reviews-box__city">г. {{location.name}}</p>
        <div class="reviews-text-body">
          <p class="reviews-text__annotation">
            “Мягкий эффект, нет побочек”
          </p>
          <p class="reviews-text__item">
            Я очень боюсь побочных эффектов от средств для нормализации давления, но от Тонерина такого не было. Голова не кружилась, тошноты не было, слабости тоже не было. Давление снижает хорошо и спустя курс оно нормальное.
					</p>

          <div class="shadow"></div>
        </div>
        <div class="reviews-text__btn"></div>
      </li>
      <li class="reviews-box">
        <div class="reviews-box__img">
          <img src="img/ava-7.png" alt="avatar" />
        </div>
        <h4 class="reviews-box__name">Александр Михалик, 47 лет</h4>
        <p class="reviews-box__city">г. Челябинск</p>
        <div class="reviews-text-body">
          <p class="reviews-text__annotation">
            “Помог при наследственной гипертонии”
          </p>
          <p class="reviews-text__item">
            Я никогда бы не подумал, что с наследственной гипертонией можно разобраться. Но это оказалось реальным, благодаря средству Тонерин. Жить без гипертонии – прекрасно!
          </p>
          <div class="shadow"></div>
        </div>
        <div class="reviews-text__btn"></div>
      </li>
      <li class="reviews-box">
        <div class="reviews-box__img">
          <img src="img/ava-8.png" alt="avatar" />
        </div>
        <h4 class="reviews-box__name">Вера Дятлова, 54 года</h4>
        <p class="reviews-box__city">г. Казань</p>
        <div class="reviews-text-body">
          <p class="reviews-text__annotation">
            “Средство, которое мне помогает”
          </p>
          <p class="reviews-text__item">
            Тонерин теперь обязательно будет у меня в аптечке и я его всем рекомендую. Я уже забыла даже что такое, если давление скачет. Скачков нет, я пропила всего 3 недели из всего курса.
          </p>
          <div class="shadow"></div>
        </div>
        <div class="reviews-text__btn"></div>
      </li>
      <li class="reviews-box">
        <div class="reviews-box__img">
          <img src="img/ava-9.png" alt="avatar" />
        </div>
        <h4 class="reviews-box__name">Борис Конев, 62 года</h4>
        <p class="reviews-box__city">г. Волгоград
				</p>
        <div class="reviews-text-body">
          <p class="reviews-text__annotation">
            “Давление больше не проблема”
          </p>
          <p class="reviews-text__item">
            Мне его врач знакомый посоветовал и я ни минуты не сомневался, что поможет избавиться от скачков давления. Так и произошло. Поэтому советую и вам, вам тоже поможет.
					</p>

          <div class="shadow"></div>
        </div>
        <div class="reviews-text__btn"></div>
      </li>
     
		</ul>
		<button class="btn reviews__btn active-feed">Оставить свой отзыв</button>
		<form class="think"  action="#"  method="POST">
				<div class="think__box think__name">
					<input class="think__input name__input" type="text" placeholder="Мое имя" required>
				</div>
				<div class="think__box think__age">
					<input class="think__input age__input" type="text" placeholder="Мой возраст" required>
				</div>
				<div class="think__box think__city">
					<input class="think__input city__input" type="text" placeholder="Город" required>
				</div>
				<div class="think__box think__photo">
					<label class="reviews-form__file" for="file"><span class="reviews-form__file-img"><span class="reviews-form__checkmark-icon"><svg height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
						<path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" fill="#0f0"></path></svg></span></span><span class="reviews-form__file-text">Загрузить ваше&nbsp;фото</span></label><input accept="image/*" class="visually-hidden input-file reviews-input" id="file" type="file">
				</div>
				<div class="think__text">
					<textarea class="inputText" name="message"  placeholder="Сообщение" required></textarea>
			</div>
			<button class="btn think__btn">Отправить</button>
		</form>
		<div class="feedback-modal" ><div class="feedback-modal__inner"><div class="feedback-modal__title">Спасибо!</div><div class="feedback-modal__text">Ваш отзыв отправлен на модерацию</div></div></div>
  </div>
</section>
