section.statistic.block
	.container
		.statistic__content
			h2.title.statistic__title Состояние сосудов ухудшается с каждым годом и&nbsp;грозит множеством болезней
			.statistic__table
				.statistic__column
					.statistic__top.statistic__top--first
						.statistic__img.statistic__img1
							img(src="img/table-1.png", alt="img")
					h3.statistic__age.statistic__age--bg1 30 лет
					p.statistic__text Холестерин накапливается в стенках сосудов, появляется гипертония
				.statistic__column
					.statistic__top.statistic__top--circle2
						.statistic__img.statistic__img2
							img(src="img/table-2.png", alt="img")
					h3.statistic__age.statistic__age--bg2 40 лет
					p.statistic__text Стенки сосудов утолщаются, образуются холестериновые бляшки и как результат частые головные боли из-за гипертонии
				.statistic__column
					.statistic__top.statistic__top--circle3
						.statistic__img.statistic__img3
							img(src="img/table-3.png", alt="img")
					h3.statistic__age.statistic__age--bg3 50 лет
					p.statistic__text Сосуды теряют свою эластичность, они больше не&nbsp;способны в полной мере обеспечить нормальный кровоток
				.statistic__column
					.statistic__top.statistic__top--circle4
						.statistic__img.statistic__img4
							img(src="img/table-4.png", alt="img")
					h3.statistic__age.statistic__age--bg4 60 лет
					p.statistic__text Нормальное кровообращение невозможно из-за забитых холестериновыми бляшками сосудов и образовавшихся тромбов