section.study.block
	.container
		h2.title.study__title Эффективность 
			span.accent Тонерина 
			| подтверждена клиническими испытаниями в клиниках Израиля, Германии и США
		h3.study__subtitle в контрольном тестировании средства участвовали   <span class="study__subtitle--accent text-nowrap">8764 человек</span>    разного возраста
		.study__info Тонерин помог избавиться от гипертонии <b>92% участников</b>
		ul.study__content
			li.study__box
				.study-box__num 89%
				p.study-box__text избавились от&nbsp;головных болей и&nbsp;других признаков гипертонии за&nbsp;2&nbsp;недели курса
			li.study__box.study__box--border
				.study-box__num 87%
				p.study-box__text отметили отсутствие  скачков давления спустя 3&nbsp;месяца после курса
			li.study__box
				.study-box__num 91%
				p.study-box__text отметили улучшение состояния здоровья и&nbsp;вернулись к&nbsp;активному образу жизни


