.timer__text До конца акции осталось:
.timer__block
	.timer__hours
		span.hours
		span.hours
	span.timer__dots :
	.timer__minutes
		span.minutes
		span.minutes
	span.timer__dots :
	.timer__seconds
		span.seconds
		span.seconds