section.use.block.bg.bg-b
	.container
		h2.title.use__title Как применять 
			span.accent Тонерин
		.use__content
			.use__box
				.use-box__icon
					img(src="img/use-icon1.png", alt="")
				h3.use-box__title Принимать по&nbsp;1&nbsp;капсуле утром и вечером за&nbsp;полчаса до&nbsp;еды
			.use__pack
				picture
					source(srcset="img/prod.webp", type="image/webp")
					img(src="img/prod.png", alt="")
			.use__box
				.use-box__icon
					img(src="img/use-icon2.png", alt="")
				h3.use-box__title Рекомендуемый курс от&nbsp;30&nbsp;дней
		.doctor__content
			ul.doctor__list
				ul.doctor-list__item.doctor-list__item1 <b>Чтобы усилить действие Тонерин</b> следует отказаться от&nbsp;вредной пищи, курения и&nbsp;алкоголя
				ul.doctor-list__item.doctor-list__item2 <b>Для максимального эффекта Тонерина,</b> постарайтесь избегать стресса и&nbsp;нагрузок на&nbsp;сердце
				ul.doctor-list__item.doctor-list__item3 <b>Для предупреждения гипертонии,</b> вам следует заниматься физическими упражнениями и&nbsp;правильно питаться
			.doctor__info
				.doctor-info__name Виктор Фролов,
					span.doctor-info__name--prof кардиолог
				.doctor-info__sign
					picture
						source(srcset="img/sign1.webp", type="image/webp")
						img(src="img/sign1.png", alt="image")
				.doctor-info__good
					picture
						source(srcset="img/approved.webp", type="image/webp")
						img(src="img/approved.png", alt="image")